html,
body {
	min-height: height: 100vh !important;
	height: 100vh;
}
.merkel {
	box-sizing: border-box;
}
.login-card {
	width: 300px;
	height: 400px;
	margin: auto;
}
.main-side-card {
	position: fixed;
	width: 270px;
	height: 100vh;
	padding: 0;
	margin: 0;
	overflow: hidden;
}
/*the personal background*/

.main-user-profile {
	margin: 0;
	padding-left: 15px;
	height: 150px;
	background-image: url(../img/profile_bg.png);
}
/*the welcome*/

.main-user-profile-button {
	top: 20px;
	color: white;
	display: block;
	padding: 0;
	text-transform: none;
	/*text-transform: none;*/
	text-align: center;
}
/*the right div*/

.righ-main-container {
	margin-left: 280px;
	height: 100%;
	overflow: scroll;
}
.changepwd-card {
	height: 400px;
	width: 400px;
	margin: 10% auto;
}
.addProject-card {
	height: 400px;
	width: 400px;
	margin: 10% auto;
}
.deleteProject-card {
	height: 400px;
	width: 450px;
	margin: 10% auto;
}

.assignProject-card {
	height: 500px;
	width: 500px;
	margin: 7% auto;
}

.fillProject-card{
	height: auto;
	width: 450px;
	margin: 7% auto;
}

.queryProject-card{
	width: 100%;
	margin: 0 auto;
}

@media only screen and (min-width: 320px) and (max-width: 640px) {
	.login-card {
		box-shadow: none;
	}
	.righ-main-container {
		margin-left: 0%;
	}
	.changepwd-card {
		box-shadow: none;
		width: 300px;
	}
	.addProject-card {
		box-shadow: none;
		width: 300px;
	}
	.deleteProject-card {
		box-shadow: none;
		width: 350px;
	}
	.assignProject-card {
		box-shadow: none;
		width: 300px;
		}
		
	
.fillProject-card{
	box-shadow: none;
		width: 300px;
}

}